<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <form action="/users/checkout" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_SnsRTtksPdC6httJl7gqWq40"
          data-amount="999"
          data-name="Demo Site"
          data-description="Example charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>

